<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Pedidos</title>
</head>
<body>
    <h1 id="titulo">Pedidos</h1>
    <div class="line"></div>
    
    <div class="container">
      <div class="content">
        <div class="card">
          <div class="super">
            <p>19:00</p>
            <ol>
              <li><input type="checkbox" class="check"> Teste</li>
              <li><input type="checkbox" class="check"> Beste</li>
            </ol>
          </div>
          <button class="btn-pronto"><i class="material-icons">check</i></button>
          <div class="inferior">
            <p><b>Endereço:</b> Rua projetada C, 36 asdsds</p>
            <p><b>Pagamento:</b> Dinheiro</p>
            <p><b>Troco:</b> R$20.00</p>
            <p>R$40.00</p>
          </div>
        </div>
        
      </div>
    </div>
    
</body>
<script src="./front-end.js"></script>
</html>